.page {
  background-color: var(--grey);
  height: -webkit-fill-available;
}

.page__body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
